<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
         colors="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="jelly/jelly test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Internal/ServerRequestPicker.php</file>
        </exclude>
        <report>
            <clover outputFile="build/phpunit/clover.xml"/>
            <html outputDirectory="build/phpunit"/>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>


    <logging>
        <junit outputFile="build/phpunit/junit.xml"/>
    </logging>
</phpunit>
